[defaults]
inventory       = inventory/hosts.ini
remote_user     = vagrant
host_key_checking = False        # disabilita verifica SSH host key (utile per lab)
stdout_callback = yaml           # output più leggibile

[privilege_escalation]
become      = False              # non usare sudo di default (lo specifichiamo nel playbook)
become_method = sudo
