[defaults]
inventory           = inventory/hosts.ini
remote_user         = vagrant
host_key_checking   = False        # disabilita verifica SSH host key (utile per lab)
interpreter_python  = /usr/bin/python3
private_key_file    = .vagrant/machines/default/virtualbox/private_key 
vault_password_file = .vault_pass

[privilege_escalation]
become        = False              # non usare sudo di default (lo specifichiamo nel playbook)
become_method = sudo
